body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wo_ul1 > li{
    list-style: none;
    color: #4f4f4f;
    font-family: Verdana,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Roboto,Noto,Helvetica Neue,sans-serif !important;
    font-size: 20px;
    letter-spacing: 0.1em;
    padding: 10px;
    line-height: 2em;
    width: 146px;
    cursor: pointer;
}

.wo_ul1 > li:hover{
    background-color: skyblue;
    color: aliceblue;
}

.wo_ul1{
    float: left;
}

.wo_ul1> li > span{
    font-size: 13px;
    margin-left: 5px;
}

.blog_title{
    float: left;
    line-height: 1.2em;
    padding-left: 100px;
    border: 1px solid #f2f2f2;
    width: 400px;
    height: 500px;
    display: none;
}

.blog_title > li{
    list-style: none;
    border-bottom: 1px solid  #D7DBE3;
    width: 260px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 40px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.wo_body{
    height: 539px;
}

.img,
.wo_ul {
    float: left;
}

.img {
    padding-top: 20px;
}

.wo_ul {
    border-bottom: 1px solid #f2f2f2;
}

.wo_ul>li {
    float: left;
    padding: 50px;
    list-style: none;
    font-size: 18px;
    transition: color 1s;
    -webkit-transition: color 1s;
    /* Safari */
}

.wo_ul>li:hover {
    background-color: skyblue;
    color: aliceblue;
}

.clean {
    clear: both;
}

.table {
    margin-top: 10%;
    margin-left: 3%;
}

.dao_botton {
    background-color: #99FF33;
    padding: 4px 25px;
    letter-spacing: 5px;
    border-radius: 6px;
    font-weight: bolder;
    color: white;
}

.tui_botton {
    background-color: red;
    padding: 4px 25px;
    letter-spacing: 5px;
    border-radius: 6px;
    font-weight: bolder;
    color: white;
}

.color {
    background-color: skyblue;
    color: aliceblue;
}

.display_block {
    display: block;
}

.display_none {
    display: none;
}

footer{
    margin-top: 100px;
    background-color:#333;
    width: 100%;
    height: 400px;
}

.footer{
    max-width: 400px;
    margin: 0 auto;
    color: white;
    padding-top: 80px;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c;
}

.footer > p{
    font-size: 20px;
    line-height: 4em;
}

.button{
    overflow: visible;
    border: 1px solid #1e7db9;
    box-shadow: 0 1px 2px #8fcaee inset, 0 -1px 0 #497897 inset, 0 -2px 3px #8fcaee inset;
    background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
    width: 140px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    margin: 0 20px 20px 0;
    position: relative;
}

.button:before{
    background: #1e7db9;
    top: 6px;
    left:-13px;
    width:27px;
    height: 27px;
    clip: rect(2px,26px,auto,auto);
    position: absolute;
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button:after{
    box-shadow: 0 -1px 0 #497897 inset, 0 -2px 0 #8FCAEE inset, 1px 0 0 #8FCAEE inset;
    background: -webkit-linear-gradient(top left,#42A4E0,#2E88C0);
    top: 6px;
    left: -12px;
    clip: rect(2px 26px auto auto);
    position: absolute;
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    transform: rotate(45deg);
}

.button:hover{
    background: -webkit-linear-gradient(top,#70bfef,#4097ce);
}

.button:hover:after{
    background: -webkit-linear-gradient(top,#70bfef,#4097ce);
}

.button:hover:before{
    background: -webkit-linear-gradient(top,#70bfef,#4097ce);
}

